<ion-header>
  <ion-toolbar color="nobles">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Castle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header>
    <ion-item button routerLink="/menu/tabs/castle/make-res" routerDirection="forward" lines="full">
      <ion-label>Make a Reservation</ion-label>
    </ion-item>
  </ion-header>

  <ion-segment [(ngModel)]="dayName" color="nobles" (ionChange)="getFood(dayName)" padding>
    <ion-segment-button value="monday">Mon</ion-segment-button>
    <ion-segment-button value="tuesday">Tue</ion-segment-button>
    <ion-segment-button value="wednesday">Wed</ion-segment-button>
    <ion-segment-button value="thursday">Thu</ion-segment-button>
    <ion-segment-button value="friday">Fri</ion-segment-button>
  </ion-segment>

  <ion-segment [(ngModel)]="mealType" color="nobles" (ionChange)="getFood(dayName)" class="segment-bar">
    <ion-segment-button value="lunch">Lunch</ion-segment-button>
    <ion-segment-button value="dinner">Dinner</ion-segment-button>
  </ion-segment>

  <div id="mealText" padding></div>

  <ion-footer>
    <ion-toolbar>
      <span>
        <b><i>Breakfast:</i></b> Monday - Friday, 7:00am - 7:45am
        <br>
      </span>
      <span>
        <b><i>Lunch:</i></b> Monday - Friday, 11:00am - 1:30pm
        <br>
      </span>
      <span>
        <b><i>Dinner:</i></b> Monday - Thursday, 5:15pm - 7:00pm
        <br>
      </span>

    </ion-toolbar>
  </ion-footer>

</ion-content>