ion-footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.modal-text {
    padding: 6%;
}

.footer-toolbar {
    text-align: center;
}

.dark-mode-icon {
    font-size: 24px;
    padding-right: 2.5%;
}

.dark-ref-bg {
    background-color: #1E1E1E;
    padding-bottom: 100%;
}

.light-ref-bg {
    background-color: #F5F5F5;
    padding-bottom: 100%;
}