.logout-header {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.logout-text {
    padding-left: 15px;
}

ion-button {
    padding-top: 15px;
    width: 30%;
}

.confirm {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    margin-right: 15px;
}

.cancel {
    --border-width: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 15px;
    margin-left: 15px;
}