<ion-header>
  <ion-toolbar color="nobles">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!----
    <ion-item lines="full">
    <ion-label>Event type</ion-label>
    <ion-select>
      <ion-select-option value="all">All</ion-select-option>
      <ion-select-option value="middle-school">Middle School</ion-select-option>
      <ion-select-option value="freshman">Class IV</ion-select-option>
      <ion-select-option value="sophomore">Class III</ion-select-option>
      <ion-select-option value="junior">Class II</ion-select-option>
      <ion-select-option value="senior">Class I</ion-select-option>
      <ion-select-option value="parent">Parent events</ion-select-option>
    </ion-select>
  </ion-item>
-->

  <ion-segment color="nobles" padding>
    <ion-segment-button value="upcoming">Upcoming</ion-segment-button>
    <ion-segment-button value="monthly">Monthly</ion-segment-button>
  </ion-segment>

  <ion-searchbar></ion-searchbar>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="nobles" class="card-header">
      December 25, 2020
    </ion-card-header>
  
    <ion-card-content>
      <h1 class="event-name">Christmas</h1>
    </ion-card-content> 
  </ion-card>

</ion-content>
