ion-segment-button {
    min-width:10%;
}

.times {
    font-size: small;
}

ion-item-divider {
    margin-top: 3px;
}

.courseName {
    font-size: larger;
    margin-bottom: 3px;
    color: black;
}

.infoBelow {
    font-size: small;
    color: black;
}