ion-content {
    --ion-background-color:	#F5F5F5;
}

.dark-mode-icon {
    font-size: 24px;
    padding-right: 2.5%;
}

.center {
    text-align: center;
}

.trash-icon {
    font-size: 18px;
    padding-right: 2.5%;
}