<ion-header>
  <ion-toolbar color="nobles">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="goToNotifications()" lines="full">
      <ion-label>Notifications</ion-label>
    </ion-item>

    <ion-item button (click)="goToFeedback()" lines="full">
      <ion-label>Send Feedback</ion-label>
    </ion-item>

    <ion-item button (click)="goToAbout()" lines="full">
      <ion-label>About</ion-label>
    </ion-item>
  </ion-list>
</ion-content>