<ion-header>
  <ion-toolbar color="nobles">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>About {{ person.children[1].innerHTML }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="https://nobilis.nobles.edu/images_sitewide/photos/{{ person.id }}.jpeg" alt="Profile Photo" class="center">

  <ion-list class="info">
    <ion-item>
      <ion-label stacked color="nobles">Name</ion-label>
      <ion-label>{{ person.children[1].innerHTML }} {{ person.children[0].innerHTML }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked color="nobles">Email</ion-label>
      <ion-label>{{ person.children[2].innerHTML }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked color="nobles">Home Phone</ion-label>
      <ion-label>{{ person.children[4].innerHTML }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked color="nobles">Cell Phone</ion-label>
      <ion-label>{{ person.children[3].innerHTML }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked color="nobles">Address</ion-label>
      <ion-label class="ion-text-wrap">{{ person.children[7].innerHTML }}, {{ person.children[9].innerHTML }},
        {{ person.children[10].innerHTML }} {{ person.children[11].innerHTML }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
