body {
    background-color: var(--ion-color-nobles);
    height: 65%;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
}

ion-content {
    position: fixed;
    bottom: 0px;
    height: 35%;
    --overflow: hidden;
}

ion-card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
}

ion-button {
    --border-radius: 20px;
}

ion-input {
    text-align: center;
    font-size: 16px;
    border: 1px solid #f6f6f6;
    border-radius: 20px;
}