ion-content {
    --overflow: hidden;
}

.background-img {
    --color: #fff;
    --background:none;
    background: url('/assets/background-img.jpg') no-repeat 0 0;
    background-size: cover;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    position: absolute;
    padding-bottom: 20px;
    top: 24%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 28%;
}

div {
    padding-top: 210px;
}

ion-card {
    padding: 22px;
    border-radius: 8px;
    margin: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 64%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
}

ion-input {
    text-align: center;
    font-size: 16px;
    top: 50%;
    height: 42px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #E0E0E0;
}

ion-button {
    border: 1px solid;
    height: 42px;
    top: 50%;
    border-radius: 5px;
    border-color: var(--ion-color-nobles); 
    --border-radius: 4px;
}

ion-spinner {
    margin: 0;
    // position: absolute;
    top: 93%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

ion-item {
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

ion-label {
    --background: none;
}