ion-content {
    --ion-background-color:	#F5F5F5;
}

.name-img {
    padding-left: 16px;
    padding-right: 16px;
    font-size: larger;
}

.name-no-img {
    padding-right: 16px;
    font-size: larger;
}

ion-note {
    font-size: small;
}

.dark-mode-icon {
    font-size: 24px;
    padding-right: 2.5%;
}