<ion-header>
  <ion-toolbar [color]="dataProvider.darkMode ? 'dark' : 'nobles'">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ person.children[1].innerHTML }}'s Schedule</ion-title>
    <ion-buttons slot="end" class="dark-mode-icon">
      <ion-icon (click)="dataProvider.switchDarkMode()" [name]="dataProvider.darkMode ? 'moon' : 'moon-outline'">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="dataProvider.darkMode ? 'dark-content' : 'light-content'">

  <ion-refresher [ngClass]="dataProvider.darkMode ? 'dark-ref-bg' : 'light-ref-bg'" slot="fixed" (ionRefresh)="doRefresh($event)">
    <br><br>
    <ion-refresher-content [ngClass]="dataProvider.darkMode ? 'dark-ref-bg' : 'light-ref-bg'" pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <br>

  <ion-segment [(ngModel)]="dayName" [color]="dataProvider.darkMode ? 'darknobles' : 'nobles'" mode="ios">
    <ion-segment-button value="Monday">
      <div>
        <ion-label [color]="dataProvider.darkMode ? 'noblesDark' : 'black'">Mon</ion-label>
      </div>
    </ion-segment-button>
    <ion-segment-button value="Tuesday">
      <div>
        <ion-label [color]="dataProvider.darkMode ? 'noblesDark' : 'black'">Tue</ion-label>
      </div>
    </ion-segment-button>
    <ion-segment-button value="Wednesday">
      <div>
        <ion-label [color]="dataProvider.darkMode ? 'noblesDark' : 'black'">Wed</ion-label>
      </div>
    </ion-segment-button>
    <ion-segment-button value="Thursday">
      <div>
        <ion-label [color]="dataProvider.darkMode ? 'noblesDark' : 'black'">Thu</ion-label>
      </div>
    </ion-segment-button>
    <ion-segment-button value="Friday">
      <div>
        <ion-label [color]="dataProvider.darkMode ? 'noblesDark' : 'black'">Fri</ion-label>
      </div>
    </ion-segment-button>
  </ion-segment>

  <br>

  <div [ngSwitch]="dayName">

    <div id="Monday" *ngSwitchCase="'Monday'">
      <div *ngFor="let i of nums[0]">

        <ion-label [color]="dataProvider.darkMode ? 'white' : 'black'" class="times" padding>
          {{ dataProvider._startTimes[0][i] }} - {{ dataProvider._endTimes[0][i] }}
        </ion-label>
        <ion-item color="{{ dataProvider._scheduleColors[0][i] }}" lines="none">
          <ion-label>
            <div class="courseName">{{ dataProvider._courseNames[0][i] }}</div>
            <div class="infoBelow">
              {{ dataProvider._teachers[0][i] }}<br>
              {{ dataProvider._locations[0][i] }}</div>
          </ion-label>
        </ion-item>
        <br>

      </div>
    </div>

    <div id="Tuesday" *ngSwitchCase="'Tuesday'">
      <div *ngFor="let i of nums[1]">

        <ion-label [color]="dataProvider.darkMode ? 'white' : 'black'" class="times" padding>
          {{ dataProvider._startTimes[1][i] }} - {{ dataProvider._endTimes[1][i] }}
        </ion-label>
        <ion-item color="{{ dataProvider._scheduleColors[1][i] }}" lines="none">
          <ion-label>
            <div class="courseName">{{ dataProvider._courseNames[1][i] }}</div>
            <div class="infoBelow">
              {{ dataProvider._teachers[1][i] }}<br>
              {{ dataProvider._locations[1][i] }}</div>
          </ion-label>
        </ion-item>
        <br>

      </div>
    </div>

    <div id="Wednesday" *ngSwitchCase="'Wednesday'">
      <div *ngFor="let i of nums[2]">

        <ion-label [color]="dataProvider.darkMode ? 'white' : 'black'" class="times" padding>
          {{ dataProvider._startTimes[2][i] }} - {{ dataProvider._endTimes[2][i] }}
        </ion-label>
        <ion-item color="{{ dataProvider._scheduleColors[2][i] }}" lines="none">
          <ion-label>
            <div class="courseName">{{ dataProvider._courseNames[2][i] }}</div>
            <div class="infoBelow">
              {{ dataProvider._teachers[2][i] }}<br>
              {{ dataProvider._locations[2][i] }}</div>
          </ion-label>
        </ion-item>
        <br>

      </div>
    </div>

    <div id="Thursday" *ngSwitchCase="'Thursday'">
      <div *ngFor="let i of nums[3]">

        <ion-label [color]="dataProvider.darkMode ? 'white' : 'black'" class="times" padding>
          {{ dataProvider._startTimes[3][i] }} - {{ dataProvider._endTimes[3][i] }}
        </ion-label>
        <ion-item color="{{ dataProvider._scheduleColors[3][i] }}" lines="none">
          <ion-label>
            <div class="courseName">{{ dataProvider._courseNames[3][i] }}</div>
            <div class="infoBelow">
              {{ dataProvider._teachers[3][i] }}<br>
              {{ dataProvider._locations[3][i] }}</div>
          </ion-label>
        </ion-item>
        <br>

      </div>
    </div>

    <div id="Friday" *ngSwitchCase="'Friday'">
      <div *ngFor="let i of nums[4]">

        <ion-label [color]="dataProvider.darkMode ? 'white' : 'black'" class="times" padding>
          {{ dataProvider._startTimes[4][i] }} - {{ dataProvider._endTimes[4][i] }}
        </ion-label>
        <ion-item color="{{ dataProvider._scheduleColors[4][i] }}" lines="none">
          <ion-label>
            <div class="courseName">{{ dataProvider._courseNames[4][i] }}</div>
            <div class="infoBelow">
              {{ dataProvider._teachers[4][i] }}<br>
              {{ dataProvider._locations[4][i] }}</div>
          </ion-label>
        </ion-item>
        <br>

      </div>
    </div>

  </div>

</ion-content>