ion-content {
    --overflow: hidden;
}

.cancel {
    --border-width:1px;
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:10%;
    margin-left:10%;
}

.submit {
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom:10%;
    margin-right:10%;
}