ion-content {
    --ion-background-color:	#F5F5F5;
}

.dark-mode-icon {
    font-size: 24px;
    padding-right: 2.5%;
}

.blue {
    color: #1788da;
}

.money {
    text-align: center;
    font-size: 24px;
    margin-top: 3%;
    margin-bottom: 3%;
}

ion-segment-button {
    min-width: 10%;
}

ion-segment {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}

.segment-bar {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}